.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);

  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev {
  background-color: #e1e1e1;
}

.carousel-control-next {
  background-color: #e1e1e1;
}
